<div id="avaliacoes-recentes">
  <div id="header">
    <h3>Avaliações Recentes</h3>
  </div> <br>
  <div class="row">
    <div class="col-4 pt-2" *ngFor="let av of avaliacoes$ | async; let i = index">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title"> {{ av.autor }} </h5>
            </div>
            <div class="col">
              <h6 class="card-title mb-2 text-right"> {{ av.data | date:'dd/MM/yyyy' }} </h6>
            </div>
          </div>
          <h6 class="card-subtitle mb-2 text-muted"> {{ av.nomeEmpresa }} </h6>
          <div class="row">
            <div class="col-7">
              <p class="card-text"> {{ av.conteudo }} </p>
            </div>
            <div class="col">
              <button class="btn btn-sm btn-outline-warning" (click)="showRespostas(i)">Ver resposta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<!--avaliacoes-recentes-->
