<div class="list-group">
  <a class="list-group-item list-group-item-action" [ngClass]="{'list-group-item-warning': itemHover}"
    (mouseover)="itemHover=true" (mouseout)="itemHover=false" *ngFor="let empresa of result$ | async"
    [routerLink]="['/empresas/perfil', empresa.login]">
    {{ empresa.login }} - {{ empresa.endereco }}
  </a>
</div>

<div *ngIf="isResultNotFound">
  <h3>Empresa não encontrada...</h3>

  <p>Não encontramos essa empresa em nosso site, sentimos muito. 
    Verifique se o nome esta correto, se ainda não achar entre em contato conosoco para que possamos cadastrar essa empresa!
  </p>
</div>
