<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" [routerLink]="'pagina-inicial'">Where I Go</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="'pagina-inicial'" class="nav-link">Pagina inicial <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'empresas'">Empresas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Minha conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'minha-conta/avaliacoes'">Minhas avalições</a>
          <a class="dropdown-item" [routerLink]="'minha-conta/respostas'">Respostas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="sair()">Sair</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="pesquisa" aria-label="pesquisa">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  Copyright &copy; 2020 &mdash; Where I Go
</div>
