<nav *ngIf="mostrarMenu" class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" [routerLink]="'pagina-inicial'">Where I Go</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="'pagina-inicial'" class="nav-link">Pagina inicial <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="'empresas'">Empresas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Minha conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="'minha-conta/avaliacoes'">Minhas avalições</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="" (click)="sair()">Sair</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" name="pesquisa"
      placeholder="pesquisa" aria-label="pesquisa" [(ngModel)]="search" required>
      <button class="btn btn-outline-light my-2 my-sm-0" (click)="pesquisar()"
      type="submit">Pesquisar</button>
    </form>
  </div>
</nav>

<div [ngClass]="{container: mostrarMenu}">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  Copyright &copy; 2020 &mdash; Where I Go
</div>

<simple-notifications></simple-notifications>
